<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <img src="/static/logo.png" alt="Logo" class="logo">
        <nav class="nav-buttons">
            <button class="temp">Coleta</button>
            <button class="temp">Gráficos</button>
            <button class="temp">Tabelas</button>
            <button class="temp">Área Dev</button>
        </nav>
    </header>
    
    <main 
    style="display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f8fcff;"
    >
        <div class="container">
            <form action="/" method="POST">
                <input type="text" 
                       placeholder="Insira o nome do paciente" 
                       class="nome" 
                       name="nome_paciente"
                       onclick="this.placeholder=''" />
            </form>
        </div>
    </main>
    
</body>
</html>