<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Header -->
    <header class="filled">
        <img src="/static/logo_dark.png" alt="Logo" class="logo">
        <nav class="nav-buttons">
            <button class="vazado" onclick="location.href='/coleta'">Coleta</button>
            <button class="cheio" onclick="location.href='/graficos'">Gráficos</button>
            <button class="vazado" onclick="location.href='/tabelas'">Tabelas</button>
            <button class="vazado" onclick="location.href='/area-dev'">Área Dev</button>
        </nav>
    </header>

    <!-- Banner com o nome do paciente -->
    <div class="patient-banner">
        <p>Paciente: {{ paciente_nome }}</p>
    </div>

    <!-- Body -->
    <main>
        <div class="wip-container">
            <p> Gráficos <br>
                WIP</p>
        </div>
    </main>
</body>
</html>
