<!DOCTYPE html>
<html lang="en">
<script src="/static/script.js" defer></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleta</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- Header -->
    <header class="filled">
        <img src="/static/logo_dark.png" alt="Logo" class="logo">
        <nav class="nav-buttons">
            <button class="cheio" onclick="location.href='/coleta'">Coleta</button>
            <button class="vazado" onclick="location.href='/graficos'">Gráficos</button>
            <button class="vazado" onclick="location.href='/tabelas'">Tabelas</button>
            <button class="vazado" onclick="location.href='/area-dev'">Área Dev</button>
        </nav>
    </header>

    <!-- Retângulo com o nome do paciente -->
    <div class="patient-banner">
        <p>Paciente: {{ paciente_nome }}</p>
    </div>

    <!-- Body -->
    <main>
        <div class="container">
            <!-- Botão "Iniciar teste" -->
            <button id="iniciar-teste" class="iniciar-teste" onclick="iniciarTeste()">Iniciar teste</button>

            <!-- Novos botões (inicialmente escondidos) -->
            <button id="botao-parético" class="novo-botao escondido" onclick="location.href='/coleta/paretico'">Braço parético</button>
            <button id="botao-saudavel" class="novo-botao escondido" onclick="location.href='/coleta/saudavel'">Braço saudável</button>
        </div>

        <!-- Bloco de texto posicionado abaixo -->
        <div class="info-block">
            <p>
                Data: {{ data_atual }}<br>
                Coletas de braço parético realizadas: {{ n_coleta_ruim }}<br>
                Coletas de braço saudável realizadas: {{ n_coleta_bom }}
            </p>
        </div>
    </main>

    
</body>
</html>
